<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/cc151103-3acd-470e-a57a-253ae1fb3c10/resourcegroups/TaskBoardResGroupSoftUni/providers/Microsoft.Web/sites/TaskBoardWebAppLL</ResourceId>
    <ResourceGroup>TaskBoardResGroupSoftUni</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://taskboardwebappll.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>cc759849-6c9c-4cf7-94b0-40c679137ccc</ProjectGuid>
    <PublishUrl>https://taskboardwebappll.scm.azurewebsites.net/</PublishUrl>
    <UserName>$TaskBoardWebAppLL</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>